
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
	position: absolute;
	margin:0;
  padding:0;
  height:100%;
  min-height: 100%;
	width:100%;
	overflow-x: hidden;
	overflow-y:

}

.currentLinkColor a{
	color: #FF0099;
}

.resume-h2-1 {
	text-align: center;
	margin-top: 8%;
}

.resume-h2-2 {
	text-align: center;
	margin-top: 5%;
}

h1 {
  font-size: 3em;
  font-family: 'Lobster', 'Times New Roman', serif;
  text-align:center;
  padding: 5px;
	margin-top: 5px;
}

nav ul {
  text-align:center;
  padding-left: 70px;
}

nav ul li {
  display: inline;
  margin-right: 70px;
	font-family:'Raleway', 'Times New Roman', serif;
	font-variant: small-caps;
	font-size: 19px;
}

a {
	font-weight: bold;
	color: #A0A0A0;
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

div.section1 {
	position: absolute;
	width: 30%;
	margin-left: 18%;
	margin-right: 2%;
	text-align: justify;
	top: 4%;
	height: 100%;
}

div.section1 a {
	color: black;
}

div.section1 h2 {
	text-align: center;
}

div.section2 {
	position: relative;
	width: 30%;
	margin-left: 2%;
	margin-right: 18%;
	top: 4%;
	height: 100%;
	float: right;
}

img.main {
	float: right;
	width: 75%;
	height:90%;
}

div.footer {
  height: 50px;
	position: relative;
	margin-top: 20px;
	clear: both;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	top:70%;
}

a.project1 {
	color: #004700;
}

a.project2 {
	color: #004700;
}

div.projects {
	height: 68%;
	position: absolute;
	width: 99%;
}

div.scroll {
	overflow: auto;
}

div.project1 {
	position: absolute;
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
	text-align: justify;
	top: 4%;
	height: 100%;
}

div.project2 {
	position: absolute;
	width: 46%;
	margin-left: 52%;
	margin-right: 2%;
	top: 4%;
	height: 100%;
}

.text_box1 a {
	color: black;
}

div.header_title {
	height: 80px;
}

hr.header {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
	height: 10px;
	margin-bottom: 0px;
	width: 75%;
}

hr.header:after {
  content: "\2665";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;

}

.font {
	font-family:'Lato', 'Times New Roman', serif;
}

hr.footer {
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
	height: 10px;
	margin-bottom: 0px;
	width: 50%;
}

img.project {
	height: 80%;
	width: 100%;
}
