html, body {
	margin: 40px auto;
	width: 100%;
	height: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align:center;
    padding-left: 70px;
   
    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 70px;
    
	
}
/* current link */
a {
	color: #404040;
	text-decoration: none;
	font-weight: bold;
}

/* unvisited link */
a:link {
	color: #404040;
	text-decoration: underline;
}

/* visited link */
a:visited {
	color: #A0A0A0 ;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #FF99CC;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #FF0066;
	text-decoration: none;
}

h1 {
    border-bottom: 2px solid #d5d5d5;
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    padding: 10px;
    font-variant: small-caps;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
#footer {
    border-top: 1px solid #d5d5d5;
    height: 330px;
	position: relative;
	padding-right: 70px
	padding-left: 150px
	width:960px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#section1 {
	width: 500px;
	float: left;
	padding: 10px;
	color: #383838;
	text-align: justify;
}

#section2 {
	width: 300px;
	float: right;
	padding: 10px;
}

#section3 {
	float: center;
	color: #383838;
}

#container {
min-height: 100%;
margin-bottom: -330px;
position: relative;
}

.clearfooter {
height: 330px;
clear: both;
}

